@model List<test2.Models.Ad_model>
@{
    ViewBag.Title = "Home Page";
}


@foreach (var i in Model)
{
<div class="row">
    <div class="col-md-4">

        <h3>@i.header</h3>
        @if (i.type != null)
        {
        <h4>@Html.ActionLink(i.type, "type", "Search", new { type = i.type }, null)</h4>
        }
        <style>
        #black, #red {
        display:inline-block;
        }
        </style>
        <div style="float:left;">
            @foreach (var j in i.tags_list)
            {
                <div id="black">
               @Html.ActionLink(j, "tag", "Search", new { tag = j }, null)</div>
            }
            
        </div>
        <br>
        <p>@i.data </p>
        @if (User.IsInRole("Admin"))
        {
            @Ajax.ActionLink("Delete", "Del_user", new { id = i.id },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "onDeleteSuccess",
                        Confirm = "Are you sure you want to delete this?"
                    },
                    new { @class = "href", id = "delete" })
            @Html.ActionLink("Edit", "Edit", new { id = i.id }) 
        }
    </div>
</div>
}
@Html.ActionLink("Pre", "Index", "Home", new { id =( (int)ViewData["id"]-1) }, null)
@Html.ActionLink("Next", "Index", "Home",new {id= ((int)ViewData["id"]+1 )},null)