<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Доска объявлений", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="pull-left container body-content">
        @using (Html.BeginForm("Index", "Search", new { app = @Model }))
            {
            @Html.AntiForgeryToken()
            @Html.TextBox("Search", " ") <input type="submit" value="Поиск" />
        }
    </div>

    <div class="row panel">
        <div id="genres" class="col-xs-3">
            @foreach (var i in ViewBag.data)
            {
                @Html.ActionLink((string)i.name, "type", "Search", new { type = i.name }, new { @class = "btn btn-block btn-default btn-lg btn-default" })
            }
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type='text/javascript'>
            function updateLink(anchor) {
                alert(anchor.href);
                var select = document.getElementById('region');
                alert(select.selectedIndex);
                alert(select.options[select.selectedIndex].value);
                var region = select.options[select.selectedIndex].value;
                alert(anchor.href);

                anchor.href = e.href + "&region=" + region;
            }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>